.nav{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 25px;
    padding-bottom: 0;
}

.header{
    width: 92%;
    display: flex;
    justify-content: space-between;
}

.nav li {
    margin-right: 3%;
    list-style-type: none; 
}

p{
    padding: 25px;
    padding-bottom: 0;
    font-size: larger;
}